<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>DeleteBuildManifest</key>
	<true/>
	<key>DownloadUrl</key>
	<string></string>
	<key>Filename</key>
	<string>iPhone1,2_TODO_Restore.ipsw</string>
	<key>FilesystemPatches</key>
	<dict>
		<key>Core Files Installation</key>
		<array>
			<dict>
				<key>Action</key>
				<string>ReplaceKernel</string>
				<key>File</key>
				<string>kernelcache.release.n82</string>
				<key>Name</key>
				<string>KernelCache</string>
				<key>Path</key>
				<string>System/Library/Caches/com.apple.kernelcaches/kernelcache</string>
			</dict>
		</array>
		<key>Filesystem Jailbreak</key>
		<array>
			<dict>
				<key>Action</key>
				<string>Patch</string>
				<key>File</key>
				<string>etc/fstab</string>
				<key>Name</key>
				<string>Filesystem Write Access</string>
				<key>Patch</key>
				<string>fstab.patch</string>
			</dict>
		</array>
	</dict>
	<key>FirmwarePatches</key>
	<dict>
		<key>KernelCache</key>
		<dict>
			<key>Pattern</key>
			<string>kernelcache_armv6</string>
			<key>File</key>
			<string>kernelcache.release.n82</string>
			<key>IV</key>
			<string>TODO</string>
			<key>Key</key>
			<string>TODO</string>
			<key>Patch</key>
			<string>kernelcache.release.patch</string>
			<key>TypeFlag</key>
			<integer>4</integer>
		</dict>
		<key>AppleLogo</key>
		<dict>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.n82ap.production/applelogo.s5l8900x.img3</string>
			<key>IV</key>
			<string>TODO</string>
			<key>Key</key>
			<string>TODO</string>
			<key>TypeFlag</key>
			<integer>2</integer>
		</dict>
		<key>iBEC</key>
		<dict>
			<key>Pattern</key>
			<string>nor</string>
			<key>File</key>
			<string>Firmware/dfu/iBEC.n82ap.RELEASE.dfu</string>
			<key>Patch</key>
			<string>iBEC.n82ap.RELEASE.patch</string>
			<key>TypeFlag</key>
			<integer>8</integer>
		</dict>
		<key>iBoot</key>
		<dict>
			<key>Pattern</key>
			<string>nor</string>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.n82ap.production/iBoot.n82ap.RELEASE.img3</string>
			<key>IV</key>
			<string>TODO</string>
			<key>Key</key>
			<string>TODO</string>
			<key>Patch</key>
			<string>iBoot.n82ap.RELEASE.patch</string>
			<key>TypeFlag</key>
			<integer>8</integer>
		</dict>
		<key>iBSS</key>
		<dict>
			<key>Pattern</key>
			<string>nor</string>
			<key>File</key>
			<string>Firmware/dfu/iBSS.n82ap.RELEASE.dfu</string>
			<key>Patch</key>
			<string>iBSS.n82ap.RELEASE.patch</string>
			<key>TypeFlag</key>
			<integer>8</integer>
		</dict>
		<key>LLB</key>
		<dict>
			<key>Pattern</key>
			<string>nor</string>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.n82ap.production/LLB.n82ap.RELEASE.img3</string>
			<key>Patch</key>
			<string>LLB.n82ap.RELEASE.patch</string>
			<key>TypeFlag</key>
			<integer>8</integer>
		</dict>
		<key>RecoveryMode</key>
		<dict>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.n82ap.production/recoverymode.s5l8900x.img3</string>
			<key>IV</key>
			<string>TODO</string>
			<key>Key</key>
			<string>TODO</string>
			<key>TypeFlag</key>
			<integer>2</integer>
		</dict>
		<key>Restore Ramdisk</key>
		<dict>
			<key>File</key>
			<string>TODO.dmg</string>
			<key>IV</key>
			<string>TODO</string>
			<key>Key</key>
			<string>TODO</string>
			<key>TypeFlag</key>
			<integer>8</integer>
		</dict>
		<key>Update Ramdisk</key>
		<dict>
			<key>File</key>
			<string>TODO.dmg</string>
			<key>TypeFlag</key>
			<integer>8</integer>
		</dict>
		<key>WTF</key>
		<dict>
			<key>Pattern</key>
			<string>WTF.n82ap</string>
			<key>File</key>
			<string>Firmware/dfu/WTF.n82ap.RELEASE.dfu</string>
			<key>Patch</key>
			<string>WTF.n82ap.RELEASE.patch</string>
			<key>TypeFlag</key>
			<integer>8</integer>
		</dict>
		<key>WTF 2</key>
		<dict>
			<key>Pattern</key>
			<string>WTF.s5l8900xall</string>
			<key>File</key>
			<string>Firmware/dfu/WTF.s5l8900xall.RELEASE.dfu</string>
			<key>Patch</key>
			<string>WTF.s5l8900xall.RELEASE.patch</string>
			<key>TypeFlag</key>
			<integer>8</integer>
		</dict>
	</dict>
	<key>FunctionalityPlist</key>
	<string>System/Library/CoreServices/SpringBoard.app/N82AP.plist</string>
	<key>Name</key>
	<string>iPhone1,2_TODO</string>
	<key>Platform</key>
	<integer>1</integer>
	<key>PreInstalledPackages</key>
	<array>
		<string>org.saurik.cydia</string>
	</array>
	<key>RamdiskMountVolume</key>
	<string>ramdisk</string>
	<key>RamdiskPatches</key>
	<dict>
		<key>asr</key>
		<dict>
			<key>Pattern</key>
			<string>asr</string>
			<key>File</key>
			<string>usr/sbin/asr</string>
			<key>Patch</key>
			<string>asr.patch</string>
		</dict>
	</dict>
	<key>RootFilesystem</key>
	<string>TODO.dmg</string>
	<key>RootFilesystemKey</key>
	<string>TODO</string>
	<key>RootFilesystemMountVolume</key>
	<string>TODO.iPhoneOS</string>
	<key>RootFilesystemSize</key>
	<integer>655</integer>
	<key>SHA1</key>
	<string>TODO</string>
	<key>SubPlatform</key>
	<integer>4</integer>
	<key>SupportBatteryPercentage</key>
	<true/>
	<key>SupportCustomLogos</key>
	<true/>
	<key>SupportMultitasking</key>
	<true/>
	<key>SupportWallpaper</key>
	<true/>
</dict>
</plist>
